@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Roboto-bold';
    src: url(/fonts/roboto-bold.woff) format("woff"), 
         url(/fonts/roboto-bold.woff2) format("woff2");
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Roboto-regular';
    src: url(/fonts/roboto-regular.woff) format("woff"), 
         url(/fonts/roboto-regular.woff2) format("woff2");
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Roboto-medium';
    src: url(/fonts/roboto-medium.woff) format("woff"), 
         url(/fonts/roboto-medium.woff2) format("woff2");
    font-display: swap;
  }

  
  :root {
    /* --primary: 255 255 255;
    --secondary: 242 242 242;
    --accent: 53 206 255;
    --content: 0 0 0;
    --darkblue: 22 25 34;
    --line: 212 212 212;
    --alert: 220 38 38;
    --disable: 127 127 127;
    --info: 67 130 208;
    --warning: 177 130 47; */

    --primary: 25 29 40;
    --secondary: 22 22 22;
    --accent: 254 204 115;
    --content: 255 255 255;
    --darkblue: 22 25 34;
    --line: 14 14 14;
    --alert: 220 38 38;
    --disable: 127 127 127;
    --info: 68 130 208;
    --warning: 177 130 47;
    

    --body_background: white ;
    --body_color: black;
    --link_color: navy;
  }

  [data-theme="dark"] {
    --primary: gray;
    --secondary: 242 242 242;
    --accent: 254 204 115;
    --content: 0 0 0;
    --darkblue: 31, 31, 31;
    --line: 212 212 212;
    --alert: 220 38 38;
    --disable: 127 127 127;
    --info: 67 130 208;
    --warning: 177 130 47;

    --body_background: #282c34;
    --body_color: gray;
    --link_color: cyan;

  }
  
  /* .dark{
    --primary: 25 29 40;
    --secondary: 22 22 22;
    --accent: 254 204 115;
    --content: 255 255 255;
    --darkblue: 22 25 34;
    --line: 14 14 14;
    --alert: 220 38 38;
    --disable: 127 127 127;
    --info: 68 130 208;
    --warning: 177 130 47;

    --body_background: #282c34;
    --body_color: white;
    --link_color: cyan;
  } */

  /* :root {
    --body_background: white ;
    --body_color: black;
    --link_color: navy;
  } */

  label {
    @apply mb-[6px] block text-[#5A5A5A]
  }

  input {
    @apply text-primary w-full border-[none] border-b-[1px_solid_#ccc] outline-[none] pb-[5px] bg-none w-[350px]
    py-2 px-2
  }

  textarea {
    @apply text-primary w-full border-b-[1px_solid_#ccc] outline-[none] p-[10px] pb-20 box-border bg-none border-t-[none] border-l-[none] border-r-[none]
  }
  
  .error-show, .error-msg {
    @apply text-red-700;
  }

  @layer base {

    html {
      @apply scroll-smooth
    }

    body {
        @apply bg-primary text-content font-regular overflow-x-hidden
    }

    a {
        @apply text-content
    }

    ul {
        @apply list-none 
      }
    
    img {
        @apply block w-full h-auto
    }

    h1,h2,h3,h4,h5,h6 {
        @apply font-bold text-content font-thicker
      }

    .container {
        @apply px-[224px] ;
    }

    h1 {
      @apply text-3xl mb-4
    }
  
    h2 {
      @apply text-xl mb-4
    }
  
    h3 {
      @apply text-lg mb-2
    }
  
    h4 {
      @apply text-base mb-4
    }
  
    p {
      @apply mb-2 text-content !leading-6 
    }

/* Database */
    table {
      @apply w-full text-sm
    }
  
    table th {
      @apply font-bold py-4 px-2 text-left
    }
  
    table td {
      @apply p-5 text-left
    }
  
    table tbody tr:nth-child(odd) {
      @apply bg-secondary bg-opacity-20
    }
  
    table tr {
      @apply cursor-pointer
    }

  }

  @layer components {
    .tab-link {
      @apply px-3 py-5
    }

    .tab-link.active {
      @apply border-b border-accent
    }

    .tab-link.active a {
      @apply text-accent
    }

    .service-area .single-service-box:before {
      @apply absolute left-0 top-0 w-full h-full content-[''] scale-0 [transition:all_0.3s_ease-in] bg-[#2b2b2b] invisible opacity-0 text-center
      
    }

/* Database */
    .nav {
      @apply space-y-4 mt-20
    }

    .nav-link {
      @apply p-1 pl-8
    }
    .nav-link a {
      @apply flex gap-3 items-center
    }

    .nav-link.active {
      @apply border-l border-accent
    }

    .nav-link.active a {
      @apply text-accent 
    }

    .btn {
      @apply px-2 py-1 rounded-md text-sm transition-colors flex items-center gap-2
    }

    .btn:disabled {
      @apply cursor-not-allowed opacity-60
    }

    .btn-form {
      @apply p-2 w-1/2 flex justify-center items-center gap-2;
    }

    .btn--accent {
      @apply bg-accent text-white 
    }

    .btn--cancel {
      @apply bg-disable text-stone-800 
    }

    .btn--alert {
      @apply bg-alert text-white 
    }

    .btn--info {
      @apply bg-info text-white 
    }

    .btn--warning {
      @apply bg-warning text-white 
    }

    .table-action ul {
      @apply flex gap-4
    }

    .form-action {
      @apply flex gap-2 justify-end
    }

    .tooltip {
      @apply text-base relative
    }

   .tooltip:hover::after {
      @apply scale-100
    }

    .tooltip::after {
      @apply absolute content-[attr(data-tooltip)] text-xs p-0.5 px-1.5 text-content bg-primary bg-opacity-90 
      top-[calc(100%+10px)] left-1/2 -translate-x-1/2 scale-0 transition-transform
    }

    .input-wrap {
      @apply mb-3 relative
    }

    .input-wrap label {
      @apply mb-1 block text-xs
    }

    .input-wrap input, 
    .input-wrap select,
    .input-wrap textarea {
      @apply block w-full text-stone-800 focus:text-info p-1 rounded-md outline-none border-2 focus:border-info focus:bg-info/5 
    }

    .input-wrap small {
      @apply absolute top-0 right-1 text-alert italic text-xs
    }

    .loading-bar::after {
      @apply content-[''] absolute top-0 left-0 w-[180%] h-full  bg-gradient-to-r from-transparent via-black/40 to-transparent animate-loading;
    }

  }


  .slick-slide {
      @apply px-5
  }

  .slick-dots {
    @apply right-6 bottom-[-45px]
  }

  .slick-dots li.slick-active button:before {
    @apply text-accent
  }

  .slick-dots li button:before {
    @apply text-sm
  }

  /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

  /* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #fecc73; }
}


.portfolio-name {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #fecc73; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */

  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}


/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.spinner circle {
  fill: none;
  /* stroke: var(--light); */
  stroke-width: 6;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash 1s ease-in-out infinite;
}

@keyframes dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dashoffset: -110px;
  }
}

